{% if wsl_environment %}
[credential]
  helper = manager
  useHttpPath = true
{% endif %}
{% if ansible_system == "Darwin" %}
[credential]
  helper = manager
  useHttpPath = true
{% endif %}
{% if ansible_system == "Linux" %}
[credential]
  helper = /usr/local/bin/git-credential-manager
  useHttpPath = true
  credentialStore = gpg
{% endif %}
[user]
  name = {{ git_user }}
  email = {{ git_email }}
[merge]
  tool = vimdiff
[alias]
  b = branch --sort=-committerdate --column
  br = branch --sort=-committerdate --column -r
  aa = add .
  ci = commit
  co = checkout
  slog = log --pretty=format:'%C(white)[%C(yellow)%h%C(white)] %C(blue)(%ad) %C(white)%s %C(green)%an' --date=local
  glog = log --graph --pretty=oneline --abbrev-commit
  st = status -s
  blame = blame -w
  wtf = blame -w
  staged = diff --cached
  pr = pull-request
  amend = commit -a --amend
[core]
  excludesfile = ~/.gitignore
  preloadindex = true
  editor = vim
  mergeoptions = --no-edit
  pager = cat
[push]
  default = upstream
[pull]
  rebase = false
